{% extends 'layout.html' %}

{% block mainBlock %}

    <div class="row">
        <div class="col">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>

<h2>List of Students</h2>
{% for student in names %}
    <p><a href="student_details?studentid={{student[1]}}">{{ student[0] }}</a></p>
{% endfor %}
{% endblock %}